body {
  font-size: 15px;
}

.navbar-brand img {
  max-height: 60px;
  margin-top: -15px;
}

.white {
  color: white;
}

.white a:hover {
  color: grey;
}

.header {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.header h1 {
  color: white;
}

.header-about {
  background: url("../images/9D9A2C41-CDA5-4138-9BF6-A89206527EA6.jpeg");
  background-position: 25% 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-gallery {
  background: url("../images/D3590E9C-A4DC-49FE-B3C7-7467E3CF4A9F.jpeg");
  background-position: 25% 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-videography {
  background: url("../images/82E149ED-F524-4228-909D-159FC3338AC5.jpeg");
  background-position: 25% 40%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-dj {
  background: url("../images/BE832D04-31BE-4711-AA2A-C11E197EE57A.jpeg");
  background-position: 25% 25%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-blog {
  background: url("../images/BFDA5D7E-6D8C-4593-926D-83495E48E950.jpeg");
  background-position: 25% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(50, 50, 50, 0.6);
  height: 10vh;
  width: 100%;
  border: 1px solid black;
}

span {
  font-size: 0.95rem;
  font-weight: 700;
}

/* index */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  align-items: center;
  background-color: rgba(50, 50, 50, 0.6);
  height: 100vh;
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-top {
  margin-top: 10vh;
  color: white;
  width: 100%;
}

.hero h1,
.hero h3,
.hero h5 {
  color: white;
}

.hero-logos {
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.logo {
  text-align: center;
  width: 100%;
  object-fit: contain;
  padding: 1.5rem;
}

@media only screen and (max-width: 992px) {
  .hero-logos {
    visibility: hidden;
  }
}
/* index */

/* Section */
.dark {
  background-color: #323232;
  color: #eee;
}

.dark h2 {
  color: #eee;
}

.dark a.btn {
  color: #eee;
  border-color: #eee;
}

.dark a.btn:hover {
  color: #919aa1;
  border-color: #919aa1;
}

.section {
  margin: 3rem auto;
}

.flex {
  margin: 3rem auto;
  display: flex;
}

.flex-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
}

.img-shadow {
  width: 100%;
  box-shadow: 3px 10px 18px 3px #323232;
}

.flex-item p {
  text-align: justify;
}

@media only screen and (max-width: 992px) {
  .flex {
    flex-direction: column-reverse;
    margin-bottom: 0;
  }

  .flex-row-reverse {
    flex-direction: column-reverse !important;
    align-items: center;
  }

  .flex-row-reverse .flex-item {
    padding-left: 0 !important;
    margin-top: 2rem;
  }

  .flex-item p {
    padding-left: 2rem;
  }

  .img-shadow {
    margin-bottom: 2rem;
  }
}

/* Section */

/* Testimonials */
.testimonials {
  background-color: rgba(50, 50, 50, 0.05);
}

.rec.rec-arrow {
  visibility: hidden;
}

.rec.rec-dot {
  visibility: hidden;
}

/* Testimonials */

/* Footer */
footer a {
  color: #ef442f;
  transition: ease-in-out 0.3s;
}

footer a:hover {
  color: #f5f5f5;
  text-decoration: none;
}
/* Footer */

/* DJ/Choreography */

/* DJ/Choreography */

/* Gallery */
.gallery {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 100vh;
  background: #eee;
}

.img-container {
  width: 98vw;
  margin: 10px auto;
  columns: 5;
  column-gap: 10px;
}

.img-container .box {
  width: 100%;
  margin: 0 0 10px;
  overflow: hidden;
  break-inside: avoid;
  border-radius: 0.25em;
}

.grow {
  transition: all 0.25s ease-in-out;
}

.grow:hover {
  transform: scale(1.2);
}

.img-container .box img {
  max-width: 100%;
}

@media (max-width: 1200px) {
  .img-container {
    columns: 4;
  }
}

@media (max-width: 800px) {
  .img-container {
    columns: 3;
  }
}

@media (max-width: 500px) {
  .img-container {
    columns: 1;
  }
}
/* Gallery */
