body {
  font-size: 15px;
}

.header {
  background: url("https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.header h1 {
  color: white;
  background-color: rgba(50, 50, 50, 0.8);
  padding: 4rem;
}

span {
  font-size: 0.95rem;
  font-weight: 700;
}

/* index */
.hero {
  background: url("https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
}
/* index */

/* Section */
.dark {
  background-color: #323232;
  color: #eee;
}

.dark h2 {
  color: #eee;
}

.dark a.btn {
  color: #eee;
  border-color: #eee;
}

.dark a.btn:hover {
  color: #919aa1;
  border-color: #919aa1;
}

.section {
  margin: 3rem auto;
}

.flex {
  margin: 3rem auto;
  display: flex;
}

.flex-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
}

.flex-item img {
  width: 100%;
  box-shadow: 3px 10px 18px 3px #323232;
}

.flex-item p {
  text-align: justify;
}

/* Section */

/* Testimonials */
.testimonials {
  background-color: rgba(50, 50, 50, 0.05);
}
/* Testimonials */

/* Footer */
footer a {
  color: #ef442f;
  transition: ease-in-out 0.3s;
}

footer a:hover {
  color: #f5f5f5;
  text-decoration: none;
}
/* Footer */

/* DJ/Choreography */

/* DJ/Choreography */

/* Gallery */
.gallery {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 100vh;
  background: #eee;
}

.img-container {
  width: 98vw;
  margin: 10px auto;
  columns: 5;
  column-gap: 10px;
}

.img-container .box {
  width: 100%;
  margin: 0 0 10px;
  overflow: hidden;
  break-inside: avoid;
  border-radius: 0.25em;
}

.grow {
  transition: all 0.25s ease-in-out;
}

.grow:hover {
  transform: scale(1.2);
}

.img-container .box img {
  max-width: 100%;
}

@media (max-width: 1200px) {
  .img-container {
    columns: 4;
  }
}

@media (max-width: 800px) {
  .img-container {
    columns: 3;
  }
}

@media (max-width: 500px) {
  .img-container {
    columns: 1;
  }
}
/* Gallery */
